extends layout
block content
    h1= title
    if(toShow==null)
        h2 Instance not found
    else
        - let teacherid = toShow._id
        - let teacher_name = toShow.teacher_name
        - let salary = toShow.salary
        - let subject = toShow.subject
        div
            div.row
                div(class='costumeAttr mr-3') teacher ID is:
                div #{teacherid}
            div.row
                div(class='costumeAttr mr-3') teacher Name is:
                div #{teacher_name}
            div.row
                div(class='costumeAttr mr-3') teacher Salary is:
                div #{salary}
            div.row
                div(class='costumeAttr mr-3') teacher Subject is:
                div #{subject}