extends layout

block content
    h1= title
    -let items  = results
    div(class= "container-fluid")
        div(class = "row")  
            each item, index in items 
                div(class= "col-sm-2", onclick=`teaches(${index})`) Name:  #{item.teacher_name}
                div(class= "col-sm-2", onclick=`teaches(${index})`) Salary:  #{item.salary}
                div(class= "col-sm-2", onclick=`teaches(${index})`) Subject:   #{item.subject}
    
    script.
        function teaches(Index){
        alert(`You liked teacher  ${Index+1}`)
        }